.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vs
.jpg
.mat
.docx
/image_data
/temp
/__pycache__
Proje1_Rapor.docx
Proje2_Rapor.docx
mnist_data/mnist-original.mat
